In [1]:
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [9]:
# 載入加州房價資料集
housing = fetch_california_housing()
print(housing['data'].shape)
print(housing['data'].ndim)
#housing['target']

(20640, 8)
2

In [19]:
import pandas as pd
display(pd.DataFrame(housing['data'][:200]))
display(pd.Series(housing['target'][:200]))

          0     1         2         3       4         5      6       7
0    8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1    8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2    7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3    5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4    3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25
..      ...   ...       ...       ...     ...       ...    ...     ...
195  1.6929  20.0  3.510355  1.152367  1659.0  2.454142  37.80 -122.26
196  1.6471  52.0  2.833333  0.927536   520.0  3.768116  37.77 -122.22
197  2.5900  52.0  4.389961  1.162162   866.0  3.343629  37.77 -122.22
198  2.5700  52.0  4.202186  1.125683   612.0  3.344262  37.77 -122.23
199  2.6429  52.0  3.746032  1.158730   415.0  3.293651  37.78 -122.23

[200 rows x 8 columns]

0      4.526
1      3.585
2      3.521
3      3.413
4      3.422
       ...
195    1.150
196    0.950
197    0.964
198    0.720
199    0.713
Length: 200, dtype: float64

In [18]:
housing['data'][:200]

array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   2.59      ,   52.        ,    4.38996139, ...,    3.34362934,
          37.77      , -122.22      ],
       [   2.57      ,   52.        ,    4.20218579, ...,    3.3442623 ,
          37.77      , -122.23      ],
       [   2.6429    ,   52.        ,    3.74603175, ...,    3.29365079,
          37.78      , -122.23      ]], shape=(200, 8))